<div class="class">
    <button class="flutuante priButton" ion-button (click)="route();">{{labelRoute}}</button>
</div>
<!-- <div class="class">
    <button class="flutuante secButton" ion-button (click)="spinMap();">rodar</button>
</div>
<div class="class">
    <button class="flutuante secButton" style="top: 3%;" ion-button (click)="spinMap(4);">rodarOeste</button>
</div>
<div class="class" >
    <button class="flutuante secButton" style="left:3%;top:80%;" ion-button (click)="spinMap(3);">rodarLeste</button>
</div>
<div class="class">
    <button class="flutuante secButton" style="left:3%; top: 70%;" ion-button (click)="spinMap(2);">rodarNorte</button>
</div>
<div class="class" >
    <button class="flutuante secButton" style="left:3%;top: 60%;" ion-button (click)="spinMap(1);">rodarSul</button> 
</div>
<div class="class">
    <button class="flutuante secButton" style="top: 40%;" ion-button (click)="spinMap(6);">noroeste</button>
</div>
<div class="class" >
    <button class="flutuante secButton" style="left:40;top:80%;" ion-button (click)="spinMap(5);">nordeste</button>
</div>
<div class="class">
    <button class="flutuante secButton" style="left:40; top: 70%;" ion-button (click)="spinMap(7);">sudoeste</button>
</div>
<div class="class" >
    <button class="flutuante secButton" style="left:40;top: 60%;" ion-button (click)="spinMap(8);">sudeste</button>
</div> -->


<!-- <input type="text" class="flutuante" style=" top:20%!important;width: 100%;" value="{{texto}}"> -->
<!-- <input type="text" id="texto" class="flutuante" style=" top:70%!important;width: 100%;" value="{{texto1}}"> --> -->
<div id="warnings_panel"></div>
<div class="wrapper">
  <div id="map"  ></div><!--(touchstart)="pauseDirection();"-->
</div>

