<div class="class">
    <button class="flutuante priButton" ion-button (click)="route();">{{labelRoute}}</button>
</div>
<div class="class">
    <button class="flutuante secButton" ion-button (click)="spinMap();">rodar</button>
</div>
<div class="class">
    <button class="flutuante secButton" style="left:40%;" ion-button (click)="spinMap(4);">rodarOeste</button>
</div>
<div class="class" >
    <button class="flutuante secButton" style="left:50%;" ion-button (click)="spinMap(3);">rodarLeste</button>
</div>
<div class="class">
    <button class="flutuante secButton" style="left:60%;" ion-button (click)="spinMap(2);">rodarNorte</button>
</div>
<div class="class" >
    <button class="flutuante secButton" style="left:70%;" ion-button (click)="spinMap(1);">rodarSul</button>
</div>


<div class="wrapper">
  <div id="map" (touchstart)="pauseDirection();" ></div>
</div>